body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; padding: 0;
}
 header{
    background-color: gray; padding: 20px; text-align: center;
 }
 
 header img{
    width: 100px; height: auto;
 }

 main{
    padding:20px;
 }

 #image-slider{
    max-width: 600px; margin: 0 auto; overflow: hidden;
 }

 #image-slider img{
    width: 100%; display: none; border-radius: 5px;
    display: grid;
 }
 #contact-us{
    max-width: 600px; margin: 40 auto;
 }

 #contact-us form{
    display: flex; flex-direction: column;
 }

 label{
    margin-bottom: 5px;
 }
 input, textarea{
    margin-bottom: 10px; padding: 8px; border: 1px solid black; border-radius: 10px;
 }
 button{
    background-color: white; color: black; padding: 10px 20px; border: none; border-radius: 10px;
    cursor: pointer;
 }

 button:hover{
background-color: grey;
 }
 form{
   text-align: center;
 }

form label{
   display: block;
}
 footer{
    background-color: grey; color: white; text-align: center; padding: 10px 0;
 }

 